.blurePanel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px !important;
    transition: 0.4s ease;
    filter: blur(1px);
    opacity: 0.4;

    &:hover {
        filter: blur(0px);
        opacity: 1;
    }

    svg {
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
        fill: #1F2633;
        stroke: #1F2633;
        cursor: pointer;
    }

    p {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
    }

    .blurePanel__input {

        .blurePanel__color {
            margin-right: 20px;
            border-radius: 7px;
            height: 24px;
        }
    
        .blurePanel__text {
            // all: unset;
            width: 230px;
            box-sizing: border-box;
            border-radius: 7px;
            border: 2px solid #1F2633;
            font-weight: 600;
        }
    }


    
}