.board {
    display: inline-flex;
    margin-left: 24px;

    .board__panel {
        display: flex;
        flex-direction: column;
        margin-right: 24px;
        width: 370px;
        height: fit-content;
        padding: 24px 12px 24px 24px;
        border-radius: 16px;
        background: #fff;
        @include shadow(5px, 5px);

        .board__title {
            display: flex;
            justify-content: space-between;

            h2 {
                margin-bottom: 16px;
                font-size: 35px;
                font-weight: 600;
            }

            svg {
                margin-right: 30px;
                width: 30px;
                height: 30px;
                fill: #1F2633;
                stroke: #1F2633;
                cursor: pointer;
            }
        }

        .board__addItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;
            margin-right: 12px;
            padding: 24px;
            border-radius: 8px;
            background: #DADEE570;
            //display: none;

            p {
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 600;
            }

            .board__titleWrapper {
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;

                .board__color {
                    margin-right: 20px;
                    border-radius: 7px;
                }

                .board__title {
                    width: 200px;
                    box-sizing: border-box;
                    border-radius: 7px;
                    border: 1px solid #1F2633;
                    font-weight: 400;
                }
            }

            textarea {
                margin-bottom: 10px;
                width: 270px;
                border-radius: 10px;
                resize:vertical;
            }

            button {
                width: 85px;
                height: 30px;
                border: 1px solid #1F2633;
                border-radius: 5px;
                background: #fff;
                font-weight: 600;
                transition: 0.4s ease;
                cursor: pointer;

                &:hover {
                    background: #e2dfdf;
                }
            }
        }

        .board__itemsList {
            display: flex;
            flex-direction: column;
            max-height: 80vh;
            overflow-y: auto;

            .board__item {
                margin-bottom: 16px;
                margin-right: 12px;
                padding: 24px;
                border-radius: 8px;
                background: #DADEE570;
                

                .board__title {
                    margin-bottom: 8px;
                    font-size: 16px;
                    font-weight: 600;
                }

                .board__text {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                }
            }
        }
    }
}