@import "normalize.scss";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'preloader';
@import 'helpers.scss';
@import 'board.scss';
@import 'addPanel';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #1F2633;
    background: #DADEE5;
    overflow-y:hidden;
}

.container {
    display: flex;
    padding: 24px 0px 0px 0px;
}

a {
    text-decoration: none;
}

.board__panelsList {
    display:flex;
}

.selected {
    opacity: 1 !important;
}

.opacity {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}